# Copyright 2016 The Fuchsia Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Defines cron jobs on luci-scheduler.appspot.com.
#
# See http://luci-config.appspot.com/schemas/projects:cron.cfg for
# schema of this file and documentation.

# Launch Buildbucket tasks continuously.
job {
  id: "linux-arm64"
  schedule: "continuously"
  task: {
    buildbucket_task: {
      server: "https://cr-buildbucket.appspot.com"
      bucket: "luci.fuchsia.ci"
      builder: "Linux arm64"
    }
  }
}

job {
  id: "linux-x86-64"
  schedule: "continuously"
  task: {
    buildbucket_task: {
      server: "https://cr-buildbucket.appspot.com"
      bucket: "luci.fuchsia.ci"
      builder: "Linux x86-64"
    }
  }
}
